
{% extends 'core/page.html' %}
{% load i18n %}
{% load static %}

{% block page %}
    <div align='center'>
        <br><br><br><br><br><br><br>
        <figure>
            <img src="{% static 'MaRDMO/images/MaRDMOLogo.png' %}" alt="Logo of MaRDMO Plugin">
        </figure>
        <br><br><br>
        {% if grouped_ids %}
            <p style="color:Black;font-size:40px;font-weight:bold">Entities added to MaRDI Portal!</p>
            <p style="color:#555555;font-size:15px;font-style:italic">Questionnaire entries updated with new MaRDI identifiers.</p>
            <br>
            {% for class_name, items in grouped_ids %}
                <p style="color:Black;font-size:22px;font-weight:bold;margin-bottom:4px">{{ class_name }}</p>
                {% for item in items %}
                    <p style="color:grey;font-size:18px;font-weight:bold;margin:4px 0 1px 0">
                        <a href="{{mardi_uri}}{{item.qid}}" style="color:dodgerblue;">{{item.name}}</a>&#x1F517;
                    </p>
                    {% for s in item.stmts %}
                        <p style="color:#666;font-size:14px;margin:1px 0 1px 24px">
                            <em>{{s.prop}}</em> &rarr;
                            {% if s.obj_qid %}<a href="{{mardi_uri}}{{s.obj_qid}}" style="color:dodgerblue;">{{s.obj}}</a>{% else %}{{s.obj}}{% endif %}
                        </p>
                    {% endfor %}
                {% endfor %}
                <br>
            {% endfor %}
        {% else %}
        <p style="color:Black;font-size:40px;;font-weight:bold">No new Entities added to MaRDI Portal!</p>
        <p style="color:Black;font-size:20px;;font-weight:bold">(If you defined new Relations, they were added successfully.)</p>
        <br>
        <p style="color:Black;font-size:20px;;font-weight:bold">Checkout <a href="{{mardi_uri|cut:"wiki/Item:"}}" style="color:dodgerblue;">MaRDI Portal</a>&#x1F517;</p>
        {% endif %}
        {% if relation_stmts %}
            <br>
            <p style="color:Black;font-size:40px;font-weight:bold">Relations added to MaRDI Portal!</p>
            <br>
            {% for r in relation_stmts %}
                <p style="color:grey;font-size:16px;margin:3px 0">
                    {% if r.subject_qid %}<a href="{{mardi_uri}}{{r.subject_qid}}" style="color:dodgerblue;">{{r.subject}}</a>{% else %}{{r.subject}}{% endif %}
                    &nbsp;<em style="color:#888">{{r.prop}}</em>&nbsp;
                    {% if r.obj_qid %}<a href="{{mardi_uri}}{{r.obj_qid}}" style="color:dodgerblue;">{{r.obj}}</a>{% else %}{{r.obj}}{% endif %}
                </p>
            {% endfor %}
        {% endif %}
    </p>
    </div>
    <!-- Attribution Section -->
    <div align='center' style="margin-top: 50px; font-size: 14px; color: grey;">
        <p>MaRDMO Logo by <a href="https://www.mardi4nfdi.de/about/mission" target="_blank" style="color: grey;">MaRDI</a>, licensed under <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank" style="color: grey;">CC BY-NC-ND 4.0</a>.</p>
    </div>
    {% endblock %}
