 <head>
 {% load static %}
 <script type="text/javascript" id="MathJax-script" async
         src="{% static 'MaRDMO/js/mathjax/es5/tex-mml-chtml.js' %}">
 </script>
 <style>
         table {
           margin-left: 0;
           margin-right: auto;
           margin-bottom: 24px;
           border-spacing: 0;
           border-bottom: 2px solid black;
           border-top: 2px solid black;
         }
         table th {
           padding: 3px 10px;
           background-color: white;
           border-top: none;
           border-left: 1px solid black;
           border-right: 1px solid black;
           border-bottom: 1px solid black;
           text-align: center;
         }
         table td {
           padding: 3px 10px;
           border-top: 1px solid black;
           border-left: 1px solid black;
           border-bottom: 1px solid black;
           border-right: 1px solid black;
           text-align: center;
         }
</style>
</head>

<body>
<h1 id="title"> {{ title }} </h1>

<h1 id="Interdisciplinary Workflow"> Interdisciplinary Workflow </h1>
{% for values in answers.workflow.values %}
    
    {# Include Interdisciplinary Workflow Name #}
    {% include "MaRDMO/partials/_name.html" with class="INTERDISCIPLINARY WORKFLOW" counter=forloop.counter name=values.Name prefix="IW" %}

    {# Include Interdisciplinary Workflow Short Description #}
    {% include "MaRDMO/partials/_short_description.html" with class="INTERDISCIPLINARY WORKFLOW" description=values.Description name=values.Name %}

    {# Include Interdisciplinary Workflow Detailed Description #}
    {% include "MaRDMO/partials/_detailed_description.html" with detailed_descriptions=values.descriptionLong %}

    {# Include Interdisciplinary Workflow ID #}
    {% include "MaRDMO/partials/_id.html" with class="INTERDISCIPLINARY WORKFLOW" id=values.ID %}

    {# Include Interdisciplinary Workflow research Objective #}
    {% include "MaRDMO/partials/_research_objective.html" with objective=values.objective %}

    {% if values.model_task_pairs %}
        {# Include Mathematical Models and Tasks #}
        {% include "MaRDMO/partials/_model_and_task.html" with pairs=values.model_task_pairs %}
    {% endif %}

    {# Include Block for single Relation between Workflow and Step #}
    {% include "MaRDMO/partials/_relation_block_single.html" with anchor="IW2PS" title="Process Steps" relation="contains" relatants=values.RelationPS class="PROCESS STEP" %}

    {# Include Mathematical Reproducibility #}
    {% include "MaRDMO/partials/_reproducibility.html" with anchor="mathematical-reproducibility" title="Mathematical Reproducibility" value=values.mathematical %}

    {# Include Runtime Reproducibility #}
    {% include "MaRDMO/partials/_reproducibility.html" with anchor="runtime-reproducibility" title="Runtime Reproducibility" value=values.runtime %}

    {# Include Reproducibility of Results #}
    {% include "MaRDMO/partials/_reproducibility.html" with anchor="reproducibility-of-results" title="Reproducibility of Results" value=values.result %}

    {# Include Reproducibility on original Platform #}
    {% include "MaRDMO/partials/_reproducibility.html" with anchor="reproducibility-on-original-platform" title="Reproducibility on original Hardware or Instrument" value=values.originalplatform %}

    {# Include Reproducibility on other Platform #}
    {% include "MaRDMO/partials/_reproducibility.html" with anchor="reproducibility-on-other-platform" title="Reproducibility on other Hardware or Instrument" value=values.otherplatform %}

    {# Include Transferability Statements #}
    {% include "MaRDMO/partials/_transferability.html" with transferability=values.transferability.values %}

{% empty %}
    <strong style="color:black;">NO WORKFLOW DOCUMENTED</strong>
{% endfor %}

<h1 id="Process Steps"> Process Step </h1>
{% for values in answers.processstep.values %}
    
    {# Include Process Step Name #}
    {% include "MaRDMO/partials/_name.html" with class="PROCESS STEP" counter=forloop.counter name=values.Name prefix="PS" %}

    {# Include Process Step Short Description #}
    {% include "MaRDMO/partials/_short_description.html" with class="PROCESS STEP" description=values.Description name=values.Name %}

    {# Include Process Step ID #}
    {% include "MaRDMO/partials/_id.html" with class="PROCESS STEP" id=values.ID %}

    {# Include Block for single Relation between Process Step and Input Data Set #}
    {% include "MaRDMO/partials/_relation_block_single.html" with anchor="PS2IDS" title="Input Data Sets" relation="input data set" relatants=values.RelationIDS class="INPUT DATA SET" %}

    {# Include Block for single Relation between Process Step and Output Data Set #}
    {% include "MaRDMO/partials/_relation_block_single.html" with anchor="PS2ODS" title="Output Data Sets" relation="output data set" relatants=values.RelationODS class="OUTPUT DATA SET" %}

    {# Include Block for single Relation between Process Step and Algorithm with Qualifier #}
    {% include "MaRDMO/partials/_relation_block_single_with_qualifier.html" with anchor="PS2A" primary_class="ALGORITHM" qualifier_class="SOFTWARE" pairs=values.algorithm_software_pairs title="Algorithms" primary_label="uses" primary_missing="MISSING ALGORITHM" qualifier_missing="MISSING PLATFORM" qualifier_env_label="Software-Environment" doc_label="Software-Requirements" has_sections=True show_hardware=True %}

    {# Include Block for single Relation between Process Step and Method with Qualifier #}
    {% include "MaRDMO/partials/_relation_block_single_with_qualifier.html" with anchor="PS2M" primary_class="EXPERIMENTAL METHOD" qualifier_class="EXPERIMENTAL EQUIPMENT" pairs=values.method_instrument_pairs title="Methods" primary_label="uses" primary_missing="MISSING METHOD" qualifier_missing="MISSING INSTRUMENT" qualifier_env_label="Instrument-Environment" doc_label="Method-Protocol" %}

    {# Include Block for single Relation between Process Step and Academic Discipline without Section #}
    {% include "MaRDMO/partials/_relation_block_single_without_section.html" with anchor="PS2AD" title="Academic Disciplines" relation="field of work" relatants=values.RFRelatant class="ACADEMIC DISCIPLINE" %}    

{% empty %}
    <strong style="color:black;">NO STEP DOCUMENTED</strong>
{% endfor %}

<h1 id="Algorithm"> Algorithms </h1>
{% for values in answers.algorithm.values %}

    {# Include Algorithm Name #}
    {% include "MaRDMO/partials/_name.html" with class="ALGORITHM" counter=forloop.counter name=values.Name prefix="A" %}
   
    {# Include Algorithm Short Description #}
    {% include "MaRDMO/partials/_short_description.html" with class="ALGORITHM" description=values.Description name=values.Name %}

    {# Include Algorithm ID #}
    {% include "MaRDMO/partials/_id.html" with class="ALGORITHM" id=values.ID %}

    {# Include Block for single Relation between Algorithm and Algorithmic Task without Section #}
    {% include "MaRDMO/partials/_relation_block_single_without_section.html" with anchor="A2AD" title="Algorithmic Tasks" relation="solves" relatants=values.PRelatant class="ALGORITHMIC TASK" %}

    {# Include Block for single Relation between Algorithm and Software #}
    {% include "MaRDMO/partials/_relation_block_single.html" with anchor="A2S" title="Softwares" relation="implemented by" relatants=values.RelationS class="SOFTWARE" %}
    
{% empty %}
    <strong style="color:black;">NO ALGORITHM DOCUMENTED</strong>
{% endfor %}

<h1 id="Software"> Softwares </h1> 
{% for values in answers.software.values %}

    {# Include Software Name #}
    {% include "MaRDMO/partials/_name.html" with class="SOFTWARE" counter=forloop.counter name=values.Name prefix="S" %}

    {# Include Software Short Description #}
    {% include "MaRDMO/partials/_short_description.html" with class="SOFTWARE" description=values.Description name=values.Name %}            

    {% for reference in values.reference.values %}
        {% if reference.0 == option.SWMATH %}
            <b>swMath ID</b>: {{ reference.1 }} <br>
        {% endif %}
        {% if reference.0 == option.DOI %}
            <b>DOI</b>: {{ reference.1 }} <br>
        {% endif %}
        {% if reference.0 == option.DESCRIPTION_URL %}
            <b>Described at URL</b>: {{ reference.1 }} <br>
        {% endif %}
        {% if reference.0 == option.SOURCECODE_URL %}
            <b>Source Code URL</b>: {{ reference.1 }} <br>
        {% endif %}
    {% endfor %}

    {# Include Software ID #}
    {% include "MaRDMO/partials/_id.html" with class="SOFTWARE" id=values.ID %}

    {# Include Block for single Relation between Software and Programming Language without Section #}
    {% include "MaRDMO/partials/_relation_block_single_without_section.html" with anchor="S2PL" title="Programming Languages" relation="programmed in" relatants=values.programminglanguage %}

    {# Include Block for single Relation between Software and Software Dependencies without Section #}
    {% include "MaRDMO/partials/_relation_block_single_without_section.html" with anchor="S2SD" title="Software" relation="depends of software" relatants=values.dependency %}

{% empty %}
    <strong style="color:black;">NO SOFTWARE DOCUMENTED</strong>
{% endfor %}

    <h2 id="process-information">Process Information</h2>


    <h3 id="software">Software</h3>
    {% if answers.software.values %}

            <table border="1">
                <colgroup>
                    <col style="width: 12.5%" />
                    <col style="width: 12.5%" />
                    <col style="width: 12.5%" />
                    <col style="width: 12.5%" />
                    <col style="width: 12.5%" />
                    <col style="width: 12.5%" />
                    <col style="width: 12.5%" />
                    <col style="width: 12.5%" />
                </colgroup>
                <thead>
                    <tr class="header">
                        <th style="text-align: center; vertical-align: middle;">Name</th>
                        <th style="text-align: center; vertical-align: middle;">Description</th>
                        <th style="text-align: center; vertical-align: middle;">Version</th>
                        <th style="text-align: center; vertical-align: middle;">Programming Language</th>
                        <th style="text-align: center; vertical-align: middle;">Dependencies</th>
                        <th style="text-align: center; vertical-align: middle;">versioned</th>
                        <th style="text-align: center; vertical-align: middle;">published</th>
                        <th style="text-align: center; vertical-align: middle;">documented</th>
                    </tr>
                </thead>
                <tbody>
                    {% for values in answers.software.values %}
                        <tr>
                            <td style="text-align: center; vertical-align: middle;">
                                {% if 'mardi' in values.ID %}
                                    <a href="{{ mardiURI }}{{ values.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ values.Name }}</a>
                                {% elif 'wikidata' in values.ID %}
                                    <a href="{{ wikidataURI }}{{ values.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ values.Name }}</a>
                                {% else %}
                                    {{ values.Name }}
                                {% endif %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ values.Description }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ values.Version }}</td>
                            <td style="text-align: center; vertical-align: middle;">
                                {% for programminglanguage in values.programminglanguage.values %}
                                    {% if 'mardi' in programminglanguage.ID %}
                                        <a href="{{ mardiURI }}{{ programminglanguage.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ programminglanguage.Name }}</a>
                                    {% elif 'wikidata' in programminglanguage.ID %}
                                        <a href="{{ wikidataURI }}{{ programminglanguage.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ programminglanguage.Name }}</a>
                                    {% endif %}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                {% for dependency in values.dependency.values %}
                                    {% if 'mardi' in dependency.ID %}
                                        <a href="{{ mardiURI }}{{ dependency.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ dependency.Name }}</a>
                                    {% elif 'wikidata' in dependency.ID %}
                                        <a href="{{ wikidataURI }}{{ dependency.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ dependency.Name }}</a>
                                    {% else %}
                                        {{ values.Name }}
                                    {% endif %}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                {% if values.Version %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                {% for reference in values.reference.values %}
                                    {% if reference.0 == option.SOURCECODE_URL %}
                                        <a href=" {{ reference.1 }} ">Yes</a> <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                {% for reference in values.reference.values %}
                                    {% if reference.0 == option.DESCRIPTION_URL %}
                                        <a href=" {{ reference.1 }} ">Yes</a> <br>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    {% endif %}

    <h3 id="hardware">Hardware</h3>
    {% if answers.hardware.values %}  
            <table border="1">
                <colgroup>
                    <col style="width: 16.6%" />
                    <col style="width: 16.6%" />
                    <col style="width: 16.6%" />
                    <col style="width: 16.6%" />
                    <col style="width: 16.6%" />
                    <col style="width: 16.6%" />
                </colgroup>
                <thead>
                    <tr class="header">
                        <th style="text-align: center; vertical-align: middle;">Name</th>
                        <th style="text-align: center; vertical-align: middle;">Description</th>
                        <th style="text-align: center; vertical-align: middle;">CPU</th>
                        <th style="text-align: center; vertical-align: middle;">Compiler</th>
                        <th style="text-align: center; vertical-align: middle;">#Nodes</th>
                        <th style="text-align: center; vertical-align: middle;">#Cores</th>
                        <th style="text-align: center; vertical-align: middle;">Software</th>
                    </tr>
                </thead>
                <tbody>
                    {% for values in answers.hardware.values %}
                        <tr>
		                    <td style="text-align: center; vertical-align: middle;">
                                {% if 'mardi' in values.ID %}
                                    <a href="{{ mardiURI }}{{ values.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ values.Name }}</a>
                                {% elif 'wikidata' in values.ID %}
                                    <a href="{{ wikidataURI }}{{ values.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ values.Name }}</a>
                                {% else %}
                                    {{ values.Name }}
                                {% endif %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ values.Description }}
                            <td style="text-align: center; vertical-align: middle;">
                                {% for cpu in values.cpu.values %}
                                    {% if 'mardi' in cpu.ID %}
                                        <a href="{{ mardiURI }}{{ cpu.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ cpu.Name }}</a>
                                    {% elif 'wikidata' in cpu.ID %}
                                        <a href="{{ wikidataURI }}{{ cpu.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ cpu.Name }}</a>
                                    {% endif %}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">
                                {% for compiler in values.compiler.values %}
                                    {% if 'mardi' in compiler.ID %}
                                        <a href="{{ mardiURI }}{{ compiler.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ compiler.Name }}</a>
                                    {% elif 'wikidata' in compiler.ID %}
                                        <a href="{{ wikidataURI }}{{ compiler.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ compiler.Name }}</a>
                                    {% endif %}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ values.Nodes }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ values.Cores }}</td>
                            <td style="text-align: center; vertical-align: middle;">
                                {% for software in values.software.values %}
                                    {% if 'mardi' in software.ID %}
                                        <a href="{{ mardiURI }}{{ software.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ software.Name }}</a>
                                    {% elif 'wikidata' in software.ID %}
                                        <a href="{{ wikidataURI }}{{ software.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ software.Name }}</a>
                                    {% else %}
                                        {{ software.Name }}
                                    {% endif %}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
			                </td>
                    	</tr>
		            {% endfor %}
                </tbody>
            </table>
    {% endif %}

    <h3 id="instrument">Instrument</h3>
    {% if answers.instrument.values %}
            <table border="1">
                <colgroup>
                        <col style="width: 14.2%" />
                        <col style="width: 14.2%" />
                        <col style="width: 14.2%" />
                        <col style="width: 14.2%" />
                        <col style="width: 14.2%" />
                        <col style="width: 14.2%" />
                        <col style="width: 14.2%" />
                </colgroup>
                <thead>
                       <tr class="header">
                                <th style="text-align: center; vertical-align: middle;">Name</th>
                                <th style="text-align: center; vertical-align: middle;">Description</th>
                                <th style="text-align: center; vertical-align: middle;">Version</th>
                                <th style="text-align: center; vertical-align: middle;">Part Number</th>
                                <th style="text-align: center; vertical-align: middle;">Serial Number</th>
            		            <th style="text-align: center; vertical-align: middle;">Location</th>
                                <th style="text-align: center; vertical-align: middle;">Software</th>
                        </tr>
                </thead>
                <tbody>
                        {% for values in answers.instrument.values %}
			            <tr>
                            <td style="text-align: center; vertical-align: middle;">
                                {% if 'mardi' in values.ID %}
                                    <a href="{{ mardiURI }}{{ values.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ values.Name }}</a>
                                {% elif 'wikidata' in values.ID %}
                                    <a href="{{ wikidataURI }}{{ values.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ values.Name }}</a>
                                {% else %}
                                    {{ values.Name }}
                                {% endif %}
                            </td>
                            <td style="text-align: center; vertical-align: middle;">{{ values.Description }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ values.Version }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ values.PartNumber }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ values.SerialNumber }}</td>
            				<td style="text-align: center; vertical-align: middle;">
                                {% for location in values.location.values %}
                                    {% if 'mardi' in location.ID %}
                                        <a href="{{ mardiURI }}{{ location.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ location.Name }}</a>
                                    {% elif 'wikidata' in location.ID %}
                                        <a href="{{ wikidataURI }}{{ location.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ location.Name }}</a>
                                    {% endif %}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
			                </td>
                            <td style="text-align: center; vertical-align: middle;">
                                {% for software in values.software.values %}
                                    {% if 'mardi' in software.ID %}
                                        <a href="{{ mardiURI }}{{ software.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ software.Name }}</a>
                                    {% elif 'wikidata' in software.ID %}
                                        <a href="{{ wikidataURI }}{{ software.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ software.Name }}</a>
                                    {% else %}
                                        {{ software.Name }}
                                    {% endif %}
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
			                </td>
                        </tr>
			        {% endfor %}
                </tbody>
            </table>
    {% endif %}

    <h3 id="data-sets">Data Sets</h3>
    {% if answers.dataset.values %}
        <table border="1">
            <colgroup>
                <col style="width: 10%" />
                <col style="width: 19%" />
                <col style="width: 10%" />
                <col style="width: 10%" />
                <col style="width: 10%" />
                <col style="width: 10%" />
                <col style="width: 10%" />
                <col style="width: 7%" />
                <col style="width: 7%" />
                <col style="width: 7%" />
            </colgroup>
            <thead>
                <tr class="header">
                    <th style="text-align: center; vertical-align: middle;">Name</th>
                    <th style="text-align: center; vertical-align: middle;">Description</th>
                    <th style="text-align: center; vertical-align: middle;">Size</th>
                    <th style="text-align: center; vertical-align: middle;">Data Type</th>
                    <th style="text-align: center; vertical-align: middle;">Representation Format</th>
                    <th style="text-align: center; vertical-align: middle;">File Format</th>
                    <th style="text-align: center; vertical-align: middle;">binary/text</th>
                    <th style="text-align: center; vertical-align: middle;">proprietary</th>
                    <th style="text-align: center; vertical-align: middle;">to publish</th>
                    <th style="text-align: center; vertical-align: middle;">to archive</th>
                </tr>
            </thead>
            <tbody>
                {% for values in answers.dataset.values %}
                    <tr>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if 'mardi' in values.ID %}
                                <a href="{{ mardiURI }}{{ values.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ values.Name }}</a>
                            {% elif 'wikidata' in values.ID %}
                                <a href="{{ wikidataURI }}{{ values.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ values.Name }}</a>
                            {% else %}
                                {{ values.Name }}
                            {% endif %}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">{{ values.Description }}</td>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if values.Size.0 == option.kilobyte %}
                                {{ values.Size.1 }} kilobyte
                            {% elif values.Size.0 == option.megabyte %}
                                {{ values.Size.1 }} megabyte
                            {% elif values.Size.0 == option.gigabyte %}  
                                {{ values.Size.1 }} gigabyte
                            {% elif values.Size.0 == option.terabyte %}  
                                {{ values.Size.1 }} terabyte
                            {% elif values.Size.0 == option.items %}  
                                {{ values.Size.1 }} items
                            {% endif %}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {% for datatype in values.datatype.values %}
                                {% if 'mardi' in datatype.ID %}
                                    <a href="{{ mardiURI }}{{ datatype.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ datatype.Name }}</a>
                                {% elif 'wikidata' in datatype.ID %}
                                    <a href="{{ wikidataURI }}{{ datatype.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ datatype.Name }}</a>
                                {% endif %}
                                {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {% for representationformat in values.representationformat.values %}
                                {% if 'mardi' in representationformat.ID %}
                                    <a href="{{ mardiURI }}{{ representationformat.ID|cut:"mardi:"}}"" style="color:dodgerblue;">{{ representationformat.Name }}</a>
                                {% elif 'wikidata' in representationformat.ID %}
                                    <a href="{{ wikidataURI }}{{ representationformat.ID|cut:"wikidata:"}}"" style="color:dodgerblue;">{{ representationformat.Name }}</a>
                                {% endif %}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">{{ values.FileFormat }}</td>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if values.BinaryText == option.binary %}
                                binary
                            {% elif values.BinaryText == option.text %}
                                text
                            {% endif %}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if values.Proprietary == option.Yes %}
                                Yes
                            {% elif values.Proprietary == option.No %}
                                No
                            {% endif %}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if values.ToPublish.1 %}
                                <a href="{{ values.ToPublish.1.1 }}" style="color:dodgerblue;">Yes</a>
                            {% elif values.ToPublish.2 %}
                                <a href="{{ values.ToPublish.2.1 }}" style="color:dodgerblue;">Yes</a>
                            {% elif values.ToPublish.0 %}
                                Yes
                            {% elif values.ToPublish.3 %}
                                No
                            {% endif %}
                        </td>
                        <td style="text-align: center; vertical-align: middle;">
                            {% if values.ToArchive.0 == option.YesText %}
                                {% if values.ToArchive.1 %}
                                    {{ values.ToArchive.1 }}
                                {% else %}
                                    Yes
                                {% endif %}
                            {% elif values.ToArchive.0 == option.NoText %}
                                    No
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
<h2 id="related-publications">Workflow Published In</h2>
{% for values in answers.publication.values %}
    {% if values.workflow == option.Yes %}
        
        <h3 id="P{{ forloop.counter }}"> {{ values.Name }} </h2>
        
        <p> 
            {% for reference in values.reference.values %}
                {% if reference.0 == option.DOI %}
                    <b>DOI</b>: {{ reference.1 }} <br>
                {% endif %} 
                {% if reference.0 == option.URL %}
                    <b>URL</b>: {{ reference.1 }} <br>
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endfor %}

<h2 id="related-publications">References For Individual Workflow Aspects</h2>
{% for values in answers.publication.values %}
    {% if values.workflow == option.No %}
        
        <p> 
            {% for reference in values.reference.values %}
                {% if reference.0 == option.DOI %}
                    <b>DOI</b>: {{ reference.1 }} <br>
                {% endif %} 
                {% if reference.0 == option.URL %}
                    <b>URL</b>: {{ reference.1 }} <br>
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}
{% endfor %}

</body>
