{% for reference in references.values %}
    {% if id_option and reference.0 == id_option %}
        {% if reference.1 %}<b>{{ id_label }}</b>: {{ reference.1 }} <br>
        {% else %}<b>{{ id_label }}</b>: <strong style="color:red;">MISSING {{ id_label|upper }} VALUE</strong> <br>{% endif %}
    {% endif %}
    {% if reference.0 == option.DOI %}
        {% if reference.1 %}<b>DOI</b>: {{ reference.1 }} <br>
        {% else %}<b>DOI</b>: <strong style="color:red;">MISSING DOI VALUE</strong> <br>{% endif %}
    {% endif %}
    {% if reference.0 == option.DESCRIPTION_URL %}
        {% if reference.1 %}<b>Described at URL</b>: {{ reference.1 }} <br>
        {% else %}<b>Described at URL</b>: <strong style="color:red;">MISSING DESCRIPTION URL VALUE</strong> <br>{% endif %}
    {% endif %}
    {% if reference.0 == option.SOURCECODE_URL %}
        {% if reference.1 %}<b>Source Code URL</b>: {{ reference.1 }} <br>
        {% else %}<b>Source Code URL</b>: <strong style="color:red;">MISSING SOURCE CODE URL VALUE</strong> <br>{% endif %}
    {% endif %}
{% empty %}
    <strong style="color:red;">{{ missing_msg }}</strong> <br>
{% endfor %}
